
@charset "ISO-8859-1";

.page-header {
	font-size: 40px; 
	text-align: center; 
	margin-top: 50px;
}
body {
	background-repeat: no-repeat; 
	background-image: linear-gradient(to bottom , red, white);
	-webkit-background-image: linear-gradient(to bottom right, white, red);
}
.row {
	text-align: center; 
	margin-top: 50px;
}
.col-sm-4 a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.upperbtn {
	color: white;
	background-color: #ff4a4a ;
	font-weight: 200; 
	font-size: 20px; 
	text-align: center; 	
	border: solid 2px white; 
	border-radius: 10px;
	padding: 10px 10px; 
	padding-left: 13px; 
	
	-webkit-transition-duration: .5s; 
	transition-duration: .5s;
	
}

.upperbtn:hover {
	text-decoration: none; 
	background-color: white; 
	color: #ff8080;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	
}
.lowerbtn {
	color: #ff8080;
	font-weight: 200; 
	font-size: 20px; 
	text-align: center; 	
	border: solid 2px #ff8080; 
	border-radius: 10px;
	padding: 10px 20px; 
	padding-left: 18px; 
	top: -5px;
	-webkit-transition-duration: .5s; 
	transition-duration: .5s; 
	
}
.lowerbtn:hover {
	text-decoration: none; 
	background-color: #ff8080; 
	color: white;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.modalbtn {
	color: rgba(255, 0, 0, 0.5);
	background-color: white; 
	font-weight: 200; 
	font-size: 17px; 
	text-align: center; 	
	border: solid 2px white; 
	border-radius: 10px;
	padding: 5px 10px; 
	padding-left: 13px; 
	text-decoration: none; 
	
	-webkit-transition-duration: .5s; 
	transition-duration: .5s; 
}

.modalbtn:hover {
	text-decoration: none; 
	background-color: #ff8080; 
	color: white;
	 
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.form-control:hover {
	border: solid 1px green; 
}