@charset "ISO-8859-1";

.page-header {
	text-align: center; 
}
body {
	background-repeat: no-repeat; 
	background-image: linear-gradient(to bottom , red, white);
	-webkit-background-image: linear-gradient(to bottom right, white, red);
}
.col-sm-6 {
	text-align: center; 
	margin-top: 100px; 
}
.col-sm-4 {
	text-align: center; 
	margin-top: 100px; 
}
.col-sm-6 a {
	text-decoration: none;
}
.admin {
	color: white;
	font-weight: 200; 
	font-size: 20px; 
	text-align: center; 	
	border: solid 2px white; 
	border-radius: 10px;
	padding: 10px 10px; 
	padding-left: 13px; 
	
	-webkit-transition-duration: .5s; 
	transition-duration: .5s; 
}

.admin:hover {
	text-decoration: none; 
	background-color: white; 
	color: #ff8080;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.admin1 {
	color: #ff8080;
	font-weight: 200; 
	font-size: 20px; 
	text-align: center; 	
	border: solid 2px #ff8080; 
	border-radius: 10px;
	padding: 10px 20px; 
	padding-left: 18px; 
	top: -5px;
	-webkit-transition-duration: .5s; 
	transition-duration: .5s; 
	
}
.admin1:hover {
	text-decoration: none; 
	background-color: #ff8080; 
	color: white;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.submitbtn {
	color: #ff8080;
	background-color: inherit; 
	font-size: 17px; 
	text-align: center; 	
	border: solid 2px #ff8080; 
	border-radius: 10px;
	padding: 5px 15px; 
	padding-left: 18px; 
	
	-webkit-transition-duration: .5s; 
	transition-duration: .5s; 
}
.submitbtn:hover {
	text-decoration: none; 
	background-color: #ff8080; 
	color: white;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
