@charset "ISO-8859-1";

.page-header {
	text-align: center; 
}
body {
	background-repeat: no-repeat; 
	background-image: linear-gradient(to bottom , red, white);
	-webkit-background-image: linear-gradient(to bottom right, white, red);
	
	font-family: 'proxima nova'; 
	font-weight: 10px; 
}
.col-sm-4 {
	text-align: center; 
	margin-top: 100px; 
}

.btn {
	color: rgba(255, 0, 0, 0.5);
	background-color: white; 
	font-weight: 200; 
	font-size: 17px; 
	text-align: center; 	
	border: solid 2px white; 
	border-radius: 10px;
	padding: 5px 10px; 
	padding-left: 13px; 
	text-decoration: none; 
	
	-webkit-transition-duration: .5s; 
	transition-duration: .5s; 
}

.btn:hover {
	text-decoration: none; 
	background-color: #ff8080; 
	color: white;
	border: none; 
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}
.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.form-control:hover {
	border: solid 1px green; 
}