
@charset "ISO-8859-1";

.container-fluid  {
	background-color: green;
	font-size: 21px; 
	border: none; 
	text-decoration: none; 
}
.container-fluid ul li span {
	color: white; 
	border: none; 
	tex-decoration: none; 
}
.navbar li:hover {
	background-color: red; 
	transition: .5s background-color;
   -webkit-transition: .5s background-color;
   -moz-transition: .5s background-color;
   -o-transition: .5s background-color;
	
}
.navbar {
	background-color: green;
}

.input-group-btn button {
	color: white; 
	background: green;
	border: none; 
	cursor: pointer; 
	box-shadow: none;
	shadow: none; 
	text-decoration: none; 
}
.input-group-btn button:hover {
	color: white; 
	background: red;
	border: none; 
	box-shadow: none; 
	shadow: none; 
	text-decoration: none; 
	transition: .5s background-color;
   -webkit-transition: .5s background-color;
   -moz-transition: .5s background-color;
   -o-transition: .5s background-color;
}
.dropdown:hover .dropdown-menu {
	display: block; 
}
.dropdown-menu li {

	background-color: green; 
	font-size: 15px;
	text-decoration: none; 
	z-index: 1;
}
.dropdown-menu li a {
	color: white;
	font-size: 16px;
	padding: 14px;
}

.dropdown-menu li a:hover {
	background-color: red;
	background: red; 
	color: white; 	
	transition: .5s background-color;
   -webkit-transition: .5s background-color;
   -moz-transition: .5s background-color;
   -o-transition: .5s background-color;  
}

body {
	background-repeat: no-repeat; 
	background-image: linear-gradient(to bottom , red, white);
	-webkit-background-image: linear-gradient(to bottom right, white, red);
}

.header {
	font-size: 40px; 
	text-align: center; 
	margin-top: 40px;
}
.row {
	text-align: center; 
	margin-top: 50px;
}
.navbar-header .navbar-brand {
	color: white; 
	text-decoration: none; 
}
.searchbtn {
	color: white;
	background-color: green; 
	font-weight: 200; 
	font-size: 15px; 
	text-align: center; 	
	border: solid 2px white; 
	border-radius: 10px;
	padding: 5px 10px; 
	padding-left: 13px; 
	text-decoration: none;
}
.searchbtn:hover {
	color: green;
	background-color: white; 
	 
	transition: .5s background-color;
   -webkit-transition: .5s background-color;
   -moz-transition: .5s background-color;
   -o-transition: .5s background-color;
    transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.form-control {
	border: none; 
}
.form-control:focus {
	border: solid 1px white;
}
.col-sm-4 {
	text-align:center; 
}




