
@charset "ISO-8859-1";

.page-header h1 {
	font-size: 40px; 
	text-align: center; 
	margin-top: 50px;
}
body {
	background-repeat: no-repeat; 
	background-image: linear-gradient(to bottom , red, white);
}
.row {
	text-align: center; 
	margin-top: 200px;
}
.thumbnail {
	color: #ff8080;
	border: none; 
}
.profile {
	color: rgba(255, 0, 0, 0.7);
	
	font-weight: 10; 
	font-size: 17px; 
	text-align: center; 	
	border: none; 
	border-radius: 10px;
	padding: 10px 10px; 
	padding-left: 13px; 
	text-decoration: none; 
	
	-webkit-transition-duration: .5s; 
	transition-duration: .5s; 
	
}
.profile:hover {
	text-decoration: none; 
	background-color: #ff8080; 
	color: white;
	
}

.thumbnail:hover {
	background-color: red; 
	text-decoration: none; 
	border: none; 
	color: white; 
	transition: .5s background-color;
   -webkit-transition: .5s background-color;
   -moz-transition: .5s background-color;
   -o-transition: .5s background-color;
}
.col-md-4 a:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}