
@charset "ISO-8859-1";

.page-header h1 {
	font-size: 40px; 
	text-align: center; 
	margin-top: 50px;
}
body {
	background-repeat: no-repeat; 
	background-image: linear-gradient(to bottom , red, white);
}
.row {
	text-align: center; 
	margin-top: 200px;
}
.thumbnail:hover {
	background-color: red; 
	color: white; 
	transition: .5s background-color;
   -webkit-transition: .5s background-color;
   -moz-transition: .5s background-color;
   -o-transition: .5s background-color;
}

