@charset "ISO-8859-1";

.page-header {
	text-align: center; 
}
body {
	background-repeat: no-repeat; 
	background-image: linear-gradient(to bottom , red, white); 
}

td {
	padding-left: 3px;
	padding-right: 3px;
}
.row {
	margin-left: auto;
	margin-right: auto;
	text-align:center; 
}


table {
	border: solid 2px black; 
}
.admin1 {
	color: #ff8080;
	font-weight: 200; 
	font-size: 20px; 
	text-align: center; 	
	border: solid 2px #ff8080; 
	border-radius: 10px;
	padding: 10px 20px; 
	padding-left: 18px; 
	top: -5px;
	-webkit-transition-duration: .5s; 
	transition-duration: .5s; 
	
}
.admin1:hover {
	text-decoration: none; 
	background-color: #ff8080; 
	color: white;
}
.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.form-control:hover {
	border: solid 1px green; 
}