@charset "ISO-8859-1";

.page-header {
	font-size: 40px; 
	text-align: center; 
	margin-top: 50px;
}
body {
	background-color: lightgrey;
}
.row {
	text-align: center; 
	margin-top: 50px;
