
@charset "ISO-8859-1";

.page-header {
	font-size: 40px; 
	text-align: center; 
	margin-top: 50px;
}
body {
	background-color: lightgrey;
}
.col-sm-4 {
	text-align: center; 
	margin-top: 100px; 
}

.list-group a:hover {
	background: red; 
	backround-color: red; 
	color: white; 
	transition: .5s background-color;
   -webkit-transition: .5s background-color;
   -moz-transition: .5s background-color;
   -o-transition: .5s background-color;
}
.list-group a:hover h4 {
	color: white; 
}
.thumbnail:hover {
	background: red; 
	backround-color: red; 
	color: white; 
	transition: .5s background-color;
   -webkit-transition: .5s background-color;
   -moz-transition: .5s background-color;
   -o-transition: .5s background-color;
}
.thumbnail:hover .caption {
	background: red; 
	backround-color: red; 
	color: white; 
	transition: .5s background-color;
   -webkit-transition: .5s background-color;
   -moz-transition: .5s background-color;
   -o-transition: .5s background-color;
}
footer {
	height: 30px;
}
.boom a{
	margin-right: 10px; 
	margin-top: 5px;
	margin-bottom: 5px;
	
}

