
@charset "ISO-8859-1";

.page-header {
	font-size: 40px; 
	text-align: center; 
	margin-top: 50px;
	position: relative; 
}
body {
	font-family: 'proxima nova'; 
	font-weight: 10px; 
	background-repeat: no-repeat; 
	background-image: linear-gradient(to bottom , red, white);
	-webkit-background-image: linear-gradient(to bottom right, white, red);
	margin-bottom: 150px;
}
.col-sm-4 {
	text-align: center; 
	margin-top: 50px; 
	
}

.list-group a:hover {
	background: red; 
	background-color: rgba(255, 0, 0, 0.2); 
	color: white; 
	transition: .5s background-color;
   -webkit-transition: .5s background-color;
   -moz-transition: .5s background-color;
   -o-transition: .5s background-color;
}
.list-group a:hover h3 {
	color: white; 
}
.list-group-item-text {
	font-size: 17px;
}
.thumbnail:hover {
	background: red; 
	background-color: rgba(255, 0, 0, 0.2); 
	color: white; 
	transition: .5s background-color;
   -webkit-transition: .5s background-color;
   -moz-transition: .5s background-color;
   -o-transition: .5s background-color;
   	 
}
.thumbnail:hover .caption {
	background: red; 
	background-color: rgba(255, 0, 0, 0.2); 
	color: white; 
	transition: .5s background-color;
   -webkit-transition: .5s background-color;
   -moz-transition: .5s background-color;
   -o-transition: .5s background-color;
}
.boom a{
	margin-right: 10px; 
	margin-top: 5px;
	margin-bottom: 5px;
	
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.glow {
  font-size: 60px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

